!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tumblr
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag			'application', 'https://fonts.googleapis.com/css?family=Patua+One:400,700'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags

  %body
    #sidebar
      %ul
        %li= link_to "Tumblr", root_path, :class => "category" 
        %li= link_to "Posts", root_path
        %li= link_to "About", about_path

      -if !user_signed_in?
        %p{ :class => "sign_in"}= link_to "User Login", new_user_session_path 

    #main_content
      #header
        - if current_page?(root_path)
          %p Post Feed
        - elsif current_page?(about_path)
          %p My Site 
        - else 
          = link_to "Back to Post Feed", root_path


        -if user_signed_in?
          .buttons
            = link_to "Make Post", new_post_path, :class => "button"
            = link_to "Log Out", destroy_user_session_path, method: :delete, :class => "button"

      - flash.each do |name, msg|
        = content_tag(:div, msg, class: "alert")

      = yield
